#gridContainer {
    display:flex;
    flex-wrap: wrap;
    border: 2px solid black;
  
    justify-content: space-between;
    align-items: flex-start;
    
}

.gridPoint {
    background-color: rgb(127, 255, 212);
    opacity: 0.99;
    display: flex;
    margin: none;
    border: 1px solid black;
    box-sizing: border-box;
}

.etchedPoint {
    background-color: brown;
}